@model List<EthosChronicle.ImageGallery>

@{
    ViewBag.Title = "Gallery";
}
@*<style>
    imageGallery {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;

    }
</style>*@
<h2>Gallery</h2>
<p>
    @Html.ActionLink("Upload New", "Upload")
</p>
<table>
    @{
        int j = 0;
        for (int i = 0; i < Model.Count(); i += 4)
        {
            j = i;
            <tr class="imageGallery"  style="border-spacing: 10px;">
                @while (j < i + 4 && j < Model.Count())
                {
                    <td id="object[j]">
                        <img src="data:image/png;base64, @Convert.ToBase64String(Model[j].ImageData,0,Model[j].ImageData.Length)" width="100" />
                        @Html.ActionLink("Download", "Download", new { ImageId = @Model[j].ImageId })
                        @*<a href="path_to_file" download="proposed_file_name">Download</a>*@
                        @*<a @Html.ActionLink("download file", "Download")></a>*@
                        @*<%= Html.ActionLink("download file", "download") %>*@
                    </td>
                    <td>
                     @*@Html.ActionLink("Download", "Download", new { ImageId = @Model[i].ImageId })*@
                    </td>
                    j++;
                }
            </tr>
        }
    }
</table>            
